.sec-banner{
    position: relative;
    width: 100%;
    margin: 3rem 0;
    .container{
        align-items: center;
    }
    .swiper-container{
        -webkit-box-shadow:-1px 0px 22px 0px rgba(230, 190, 98, 0.53);
        -moz-box-shadow: -1px 0px 22px 0px rgba(230, 190, 98, 0.53);
        box-shadow: -1px 0px 22px 0px rgba(230, 190, 98, 0.53);
    }
    .h-menu{
        text-align: center;
        padding-left: 5rem;
        @media screen and (max-width: 1023px) {
            padding-left: 3rem;
        }
        @media screen and (max-width: 767px) {
            padding: 0 2rem;
            margin-top: 2rem;
        }
    }
}