{% extends "base.twig" %}
{% block content %}
{% include 'templates/partial/menu.twig' %}
{% set content = TimberPost(options_h_blockgame.h_link) %}
<section class="box-list-game">
	<div class="container">
		<div id="{{ post.id }}" class="row game-list" data-slug="{{ content.postslug }}"></div>
	</div>
</section>
{% endblock %}
